<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fluxmall.domain.cart.mapper.CartMapper">

  <resultMap id="cartResultMap" type="com.fluxmall.domain.cart.entity.Cart">
    <id property="id" column="id"/>
    <result property="memberId" column="member_id"/>
    <result property="createdAt" column="created_at"/>
    <result property="updatedAt" column="updated_at"/>
    <collection property="cartItems" ofType="com.fluxmall.domain.cart.entity.CartItem">
      <id property="id" column="ci_id"/>
      <result property="productId" column="ci_product_id"/>
      <result property="quantity" column="ci_quantity"/>
      <association property="product" javaType="com.fluxmall.domain.product.entity.Product">
        <id property="id" column="p_id"/>
        <result property="name" column="p_name"/>
        <result property="price" column="p_price"/>
        <result property="stockQuantity" column="p_stock_quantity"/>
        <result property="productStatus" column="p_product_status"/>
      </association>
    </collection>
  </resultMap>

  <select id="findByMemberId" resultMap="cartResultMap"/>
  <insert id="createCart" useGeneratedKeys="true" keyProperty="id"/>

  <!-- CartItem 전용 -->
  <insert id="addCartItem" useGeneratedKeys="true" keyProperty="id"/>
  <update id="updateCartItemQuantity"/>
  <delete id="deleteCartItem"/>
  <delete id="deleteSelectedCartItems"/>

</mapper>