<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fluxmall.domain.wishlist.mapper.WishlistMapper">

  <resultMap id="wishlistResultMap" type="com.fluxmall.domain.wishlist.entity.Wishlist">
    <id property="id" column="id"/>
    <result property="memberId" column="member_id"/>
    <result property="productId" column="product_id"/>
    <result property="createdAt" column="created_at"/>
    <association property="product" javaType="com.fluxmall.domain.product.entity.Product" resultMap="com.fluxmall.domain.product.mapper.ProductMapper.productResultMap"/>
  </resultMap>

<!--  <select id="existsByMemberIdAndProductId" resultType="boolean"/>-->
<!--  <select id="findAllByMemberId" resultMap="wishlistResultMap"/>-->
<!--  <insert id="save"/>-->
<!--  <delete id="deleteByMemberIdAndProductId"/>-->
<!--  <delete id="deleteSelected"/>-->

</mapper>