<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fluxmall.domain.order.mapper.OrderMapper">

  <resultMap id="orderResultMap" type="com.fluxmall.domain.order.entity.Order">
    <id property="id" column="id"/>
    <result property="memberId" column="member_id"/>
    <result property="orderNumber" column="order_number"/>
    <result property="totalPrice" column="total_price"/>
    <result property="orderStatus" column="order_status"/>
    <result property="shippingAddress" column="shipping_address"/>
    <result property="createdAt" column="created_at"/>
    <result property="updatedAt" column="updated_at"/>
    <collection property="orderItems" ofType="com.fluxmall.domain.order.entity.OrderItem">
      <id property="id" column="oi_id"/>
      <result property="productId" column="oi_product_id"/>
      <result property="quantity" column="oi_quantity"/>
      <result property="price" column="oi_price"/>
    </collection>
  </resultMap>

<!--  <select id="findById" resultMap="orderResultMap"/>-->
<!--  <select id="findAllByMemberId" resultMap="orderResultMap"/>-->
<!--  <insert id="saveOrder" useGeneratedKeys="true" keyProperty="id"/>-->
<!--  <insert id="saveOrderItem" useGeneratedKeys="true" keyProperty="id"/>-->
<!--  <update id="updateOrderStatus"/>-->
<!--  <update id="cancelOrder"/>-->

</mapper>